.game__box {
  box-shadow: 5px -5px 49px 1px rgba(0, 0, 0, 0.46);
  width: 700px;
  height: 700px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #dddddd;
  display: grid;
  grid-template-columns: 100px repeat(8, 1fr) 100px;
  grid-template-rows: 100px repeat(8, 1fr) 100px;
}