.game__history {
  width: 100%;
  height: 40%;
  border: 1px solid black;
  border-radius: 10px;
  overflow-y: scroll;
  padding: 5px 12px;
  background-color: rgba(f, f, f, 0.3);
}

/* HISTORY SCROLLBAR DESIGN */
/* width */
.game__history::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.game__history::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.game__history::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.game__history::-webkit-scrollbar-thumb:hover {
  background: #555;
}