ion-icon {
  font-size: 50px;
}

.slot__special--lucky {
  justify-content: center;
  align-items: center;
  background-color: #faee1c;
}

.slot__special--unlucky {
  justify-content: center;
  align-items: center;
  background-color: #a56cc1;
}